[user]
  email = ejkuhn@gmail.com
  name = Evan Kuhn

[color]
  ui = true

[core]
  editor = vim
  mergeoptions = --no-ff --no-commit

[alias]
  co = checkout
  gl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  gitlog=log --graph --decorate --pretty=oneline --abbrev-commit --all
  glog = log --graph --full-history --all --color --date=short --pretty=format:'%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%ad %aE %s'

[github]
  user = EvanKuhn
  # token = <place token here>

